.myDIV{
  display: none;
  border-radius: 20px;
}

img{
  text-align: center;
  border-radius: 50px;
  box-shadow: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
}

.btn{
  box-shadow: 0 8px 8px -4px rgb(122, 122, 122);
}

.navbartext{
  text-align: center;
  color:#fff
}

h6{
  color: #fff;
  text-align: center;
}
